<div class="content content__padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center login-title">Gayatri Enterprise</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="card">
          <div class="header">
            <h4 class="title text-center">Authentication</h4>
          </div>
          <div class="content">
            <form [formGroup]="loginForm" (ngSubmit)="loginCheck()">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" [ngClass]="{'has-error': checkInvalid('userName') }">
                    <!-- <label for="exampleInputEmail1">Email address</label> -->
                    <input type="text" class="form-control" placeholder="Username" formControlName="userName">
                    <div class="help-block" *ngIf="checkInvalid('userName')">{{validation.login.email}}</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" [ngClass]="{'has-error': checkInvalid('userPassword') }">
                    <input type="password" class="form-control" placeholder="Password" formControlName="userPassword">
                    <div class="help-block" *ngIf="checkInvalid('userPassword')">{{validation.login.password}}</div>
                  </div>
                </div>
              </div>
              <hr>
              <button type="submit" class="btn btn-info btn-fill pull-right btn-block">Login</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>