<div class="content content__padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="header">
            <h4 class="title">{{role.isAdmin ? 'Vendor' : 'Employee'}} List</h4>
            <!-- <p class="category">Backend development</p> -->
          </div>
          <div class="content">
            <div class="table-full-width">
              <table class="table table-bordered table-hover">
                <thead *ngIf="userList.length > 0">
                  <tr>
                    <th>Sr. No.</th>
                    <th>{{role.isAdmin ? 'Vendor' : 'Employee'}} Name</th>
                    <th>Edit/Remove</th>
                  </tr>
                </thead>
                <tbody *ngIf="userList.length > 0; else noData">
                  <tr *ngFor="let item of userList; let i = index">
                    <td class="max-width-70 text-center">
                      {{i + 1}}
                    </td>
                    <td>{{item.userName}}</td>
                    <td class="td-actions text-center max-width-50">
                      <button type="button" rel="tooltip" title="Edit {{item.userName}}"
                        class="btn btn-info btn-simple btn-xs" [routerLink]="[ '/core','user', item.userId ]">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove {{item.userName}}"
                        class="btn btn-danger btn-simple btn-xs" (click)="removeUser(item.userId)">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <ng-template #noData>
                  <tbody>
                    <tr>
                      <td colspan="2">
                        No Users Avilable
                      </td>
                    </tr>
                  </tbody>
                </ng-template>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>