<div class="content content__padding">
  <div class="container-fluid">
    <div class="row" *ngIf="isEdit">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Panel Data</h4>
            <!-- <p class="category">For panel id - {{panelId}}</p> -->
          </div>
          <ng-container *ngIf="panelData.length > 0; else noData">
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of panelData; let i=index">
                    <td>{{item.label}}</td>
                    <td>{{item.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
          <ng-template #noData>
            <div class="contant table-responsive table-full-width">
              <p class="contant__p--padding">No Data Found</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <br *ngIf="isEdit">
    <div class="row" *ngIf="!role.isEmployee">
      <div class="col-md-12">
        <div class="card">
          <ng-container *ngIf="isEdit; else noEdit">
            <div class="header">
              <h4 class="title">{{isEdit ? 'Edit' : 'Add'}} Data</h4>
              <p class="category" *ngIf="role.isAdmin">For panel id - {{panelId}}</p>
            </div>
          </ng-container>
          <ng-template #noEdit>
            <div class="header">
              <h4 class="title">{{isEdit ? 'Edit' : 'Add'}} Panel</h4>
            </div>
          </ng-template>
          <div class="content table-responsive table-full-width">
            <form [formGroup]="panelForm" (ngSubmit)="savePanelForm()">
              <table class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngIf="isEdit">
                    <td>Low Pressure Switch Status</td>
                    <td>
                      <select class="form-control" formControlName="lpss">
                        <option value="" disabled>Select Value</option>
                        <option value="1">YES</option>
                        <option value="0">NO</option>
                      </select>
                    </td>
                  </tr> -->
                  <tr>
                    <td>Panel Name</td>
                    <td>
                      <input type="text" class="form-control" formControlName="pn">
                    </td>
                  </tr>
                  <tr *ngIf="isEdit">
                    <td>Panel Status</td>
                    <td>
                      <select class="form-control" formControlName="pop">
                        <option value="" disabled>Select Value</option>
                        <option value="1">ON</option>
                        <option value="0">OFF</option>
                      </select>
                    </td>
                  </tr>
                  <tr *ngIf="isEdit">
                    <td>Over Voltage Set Point (V)</td>
                    <td>
                      <input type="number" class="form-control" formControlName="ovv" max="216" min="0" step="1">
                    </td>
                  </tr>
                  <tr *ngIf="isEdit">
                    <td>Under Voltage Set Point (V)</td>
                    <td>
                      <input type="number" class="form-control" formControlName="uvv" max="230" min="0" step="1">
                    </td>
                  </tr>
                  <tr *ngIf="isEdit">
                    <td>Raw Water Pump Overload Current (A)</td>
                    <td>
                      <input type="number" class="form-control" formControlName="roc" max="15" min="0" step="0.1">
                    </td>
                  </tr>
                  <tr *ngIf="isEdit">
                    <td>Raw Water Pump Dry Run Current (A)</td>
                    <td>
                      <input type="number" class="form-control" formControlName="ruc" max="15" min="0" step="0.1">
                    </td>
                  </tr>
                  <tr *ngIf="isEdit">
                    <td>High Pressure Pump Overload Current (A)</td>
                    <td>
                      <input type="number" class="form-control" formControlName="hoc" max="16" min="0" step="0.1">
                    </td>
                  </tr>
                  <tr *ngIf="isEdit">
                    <td>High Pressure Pump Dry Run Current (A)</td>
                    <td>
                      <input type="number" class="form-control" formControlName="huc" max="16" min="0" step="0.1">
                    </td>
                  </tr>
                  <tr *ngIf="isEdit">
                    <td>Panel Auto/Manual</td>
                    <td>
                      <select class="form-control" formControlName="pst">
                        <option value="" disabled>Select Value</option>
                        <option value="1">AUTO</option>
                        <option value="0">MANUAL</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-primary">Submit</button></td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>