<div class="content content__padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <ng-container *ngIf="isEdit; else noEdit">
            <div class="header">
              <h4 class="title">{{role.isAdmin ? 'Vendor' : 'Employee'}} Data</h4>
              <p class="category">For user id - {{userId}}</p>
            </div>
          </ng-container>
          <ng-template #noEdit>
            <div class="header">
              <h4 class="title">Add {{role.isAdmin ? 'Vendor' : 'Employee'}}
              </h4>
            </div>
          </ng-template>
          <div class="content table-responsive table-full-width">
            <form [formGroup]="userForm" (ngSubmit)="saveUserForm()">
              <table class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th> Perameters </th>
                    <th> Details </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>User Name</td>
                    <td>
                      <input type="text" class="form-control" formControlName="userName"
                        placeholder="User Name for Login">
                    </td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>
                      <input type="text" class="form-control" formControlName="userEmail" placeholder="Email Address">
                    </td>
                  </tr>
                  <tr>
                    <td>Password</td>
                    <td>
                      <input type="text" class="form-control" formControlName="userPassword"
                        placeholder="Password for Login">
                    </td>
                  </tr>
                  <tr *ngIf="role.isAdmin">
                    <td>Panels</td>
                    <td>
                      <div *ngIf="panelIds.length > 0">
                        <span class="panel-chips" *ngFor="let item of panelIds; let i = index">{{item.pn}}
                          <b (click)="removePanel(i)">&#10006;</b>
                        </span>
                        <hr>
                      </div>
                      <ng-container *ngIf="panelList.length > 0; else noList">
                        <select class="form-control" *ngIf="panelList.length > 0"
                          (change)="panelsChange($event.target.value)">
                          <option value="" disabled>Select Panel</option>
                          <option [value]="item.pi" *ngFor="let item of panelList">{{item.pn}}</option>
                        </select>
                      </ng-container>
                      <ng-template #noList>
                        No panel avilable, Create new from dashboard
                      </ng-template>
                    </td>
                  </tr>
                  <tr>
                    <td>Save Data</td>
                    <td><button type="submit" class="btn btn-primary">Submit</button></td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <br>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Add Data</h4>
            <p class="category">For user id - {{userId}}</p>
          </div>
          <div class="content table-responsive table-full-width">
            <form [formGroup]="panelForm" (ngSubmit)="savePanelForm()">
              <table class="table table-hover table-striped">
                <thead>
                  <th>Keys</th>
                  <th>Inputs</th>
                </thead>
                <tbody>
                  <tr>
                    <td>low_pressure_switch_status</td>
                    <td>
                      <select class="form-control" formControlName="low_pressure_switch_status">
                        <option value="">Select Value</option>
                        <option value="true">On</option>
                        <option value="false">Off</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>panel_on_off</td>
                    <td>
                      <select class="form-control" formControlName="panel_on_off">
                        <option value="">Select Value</option>
                        <option value="true">On</option>
                        <option value="false">Off</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>over_voltage_tripping_voltage</td>
                    <td>
                      <input type="number" class="form-control" formControlName="over_voltage_tripping_voltage"
                        max="216" min="0" step="1">
                    </td>
                  </tr>
                  <tr>
                    <td>under_voltage_tripping_voltage</td>
                    <td>
                      <input type="number" class="form-control" formControlName="under_voltage_tripping_voltage"
                        max="230" min="0" step="1">
                    </td>
                  </tr>
                  <tr>
                    <td>raw_water_pump_overload_current</td>
                    <td>
                      <input type="number" class="form-control" formControlName="raw_water_pump_overload_current"
                        max="15" min="0" step="0.1">
                    </td>
                  </tr>
                  <tr>
                    <td>raw_water_pump_dry_run_current</td>
                    <td>
                      <input type="number" class="form-control" formControlName="raw_water_pump_dry_run_current"
                        max="15" min="0" step="0.1">
                    </td>
                  </tr>
                  <tr>
                    <td>high_pressure_pump_overload_current</td>
                    <td>
                      <input type="number" class="form-control" formControlName="high_pressure_pump_overload_current"
                        max="16" min="0" step="0.1">
                    </td>
                  </tr>
                  <tr>
                    <td>high_pressure_pump_dry_run_current</td>
                    <td>
                      <input type="number" class="form-control" formControlName="high_pressure_pump_dry_run_current"
                        max="16" min="0" step="0.1">
                    </td>
                  </tr>
                  <tr>
                    <td>panel_auto_manual</td>
                    <td>
                      <select class="form-control" formControlName="panel_auto_manual">
                        <option value="">Select Value</option>
                        <option value="true">On</option>
                        <option value="false">Off</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>panel_name</td>
                    <td>
                      <input type="text" class="form-control" formControlName="panel_name">
                    </td>
                  </tr>
                  <tr>
                    <td>Save Data</td>
                    <td><button type="submit" class="btn btn-primary">Submit</button></td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>