.panel-chips {
    display: inline-block;
    padding: 5px 10px;
    background: #eee;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.panel-chips:last-child {
    margin-right: 0;
}

.panel-chips>b {
    cursor: pointer;
}