<div class="content content__padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="header">
            <h4 class="title">Panel List</h4>
            <!-- <p class="category">Backend development</p> -->
          </div>
          <div class="content">
            <div class="table-full-width">
              <table class="table table-hover table-bordered">
                <thead *ngIf="panelList.length > 0">
                  <tr>
                    <th>Sr. No.</th>
                    <th>Panel Name</th>
                    <th>{{role.isAdmin ? 'Edit/Remove' : 'Edit'}}</th>
                  </tr>
                </thead>
                <tbody *ngIf="panelList.length > 0; else noData">
                  <tr *ngFor="let item of panelList; let i = index">
                    <td class="max-width-70 text-center">
                      {{i + 1}}
                    </td>
                    <td>{{item.pn}}</td>
                    <td class="td-actions text-center max-width-50">
                      <button type="button" rel="tooltip" title="Edit {{item.pn}}"
                        class="btn btn-info btn-simple btn-xs" [routerLink]="[ '/core','panel', item.pi ]">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" *ngIf="role.isAdmin" rel="tooltip" title="Remove {{item.pn}}"
                        class="btn btn-danger btn-simple btn-xs" (click)="removePanel(item.pi)">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <ng-template #noData>
                  <tbody>
                    <tr>
                      <td colspan="2">
                        No Panels Avilable
                      </td>
                    </tr>
                  </tbody>
                </ng-template>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>