/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content__padding {
    padding: 30px 15px;
    min-height: calc(100% - 123px);
}

.max-width-50 {
    width: 50px;
}

.max-width-70 {
    width: 70px;
}

.card .title {
    text-transform: uppercase;
    font-weight: bolder;
}

.table>thead>tr>th {
    font-weight: bolder;
    text-align: center;
}