<div class="wrapper">
  <div class="sidebar" data-color="ge" [ngClass]="{'sidebar-open': isSidebarOpen}">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="javascript:void(0)" class="simple-text">
          Gayatri Enterprise
        </a>
      </div>
      <ul class="nav">
        <li [ngClass]="{'active': path === 'dashboard'}">
          <a href="javascript:void(0)" (click)="path = 'dashboard'" [routerLink]="[ '/core','dashboard' ]">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li [ngClass]="{'active': path === 'panel'}">
          <a href="javascript:void(0)" (click)="path = 'panel'" [routerLink]="[ '/core','panel' ]">
            <i class="pe-7s-box2"></i>
            <p>Panel List</p>
          </a>
        </li>
        <li *ngIf="!role.isEmployee" [ngClass]="{'active': path === 'user'}">
          <a href="javascript:void(0)" (click)="path = 'user'" [routerLink]="[ '/core','user' ]">
            <i class="pe-7s-users"></i>
            <p>{{role.isAdmin ? 'Vendor' : 'Employee'}} List</p>
          </a>
        </li>
      </ul>
      <ul class="nav nav-mobile-menu">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="javascript:void(0)" (click)="userLogout()">
              <p>Log out</p>
            </a>
          </li>
          <li class="separator hidden-lg hidden-md"></li>
        </ul>
      </ul>
    </div>
  </div>

  <div class="main-panel" [ngClass]="{'main-panel-close': isSidebarOpen}">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2"
            (click)="isSidebarOpen = !isSidebarOpen">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0)">{{loginUserData.userName | uppercase}}</a>
        </div>
        <div class="collapse navbar-collapse">
          <!-- <ul class="nav navbar-nav navbar-left">
            <li>
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i>
                <p class="hidden-lg hidden-md">Dashboard</p>
              </a>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-globe"></i>
                <b class="caret hidden-sm hidden-xs"></b>
                <span class="notification hidden-sm hidden-xs">5</span>
                <p class="hidden-lg hidden-md">
                  5 Notifications
                  <b class="caret"></b>
                </p>
              </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Notification 1</a></li>
                <li><a href="javascript:void(0)">Notification 2</a></li>
                <li><a href="javascript:void(0)">Notification 3</a></li>
                <li><a href="javascript:void(0)">Notification 4</a></li>
                <li><a href="javascript:void(0)">Another notification</a></li>
              </ul>
            </li>
            <li>
              <a href="">
                <i class="fa fa-search"></i>
                <p class="hidden-lg hidden-md">Search</p>
              </a>
            </li>
          </ul> -->

          <ul class="nav navbar-nav navbar-right">
            <!-- <li>
              <a href="javascript:void(0)">
                <p>Account</p>
              </a>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <p>
                  Dropdown
                  <b class="caret"></b>
                </p>

              </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Action</a></li>
                <li><a href="javascript:void(0)">Another action</a></li>
                <li><a href="javascript:void(0)">Something</a></li>
                <li><a href="javascript:void(0)">Another action</a></li>
                <li><a href="javascript:void(0)">Something</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)">Separated link</a></li>
              </ul>
            </li> -->
            <li>
              <a href="javascript:void(0)" (click)="userLogout()">
                <p>Log out</p>
              </a>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- <div class="bg-animation">

      <div class="inner-bg-animation">
        <router-outlet></router-outlet>
      </div>
      <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
        </svg>
      </div>
    </div> -->
    <router-outlet></router-outlet>


    <footer class="footer">
      <div class="container-fluid">
        <!-- <nav class="pull-left">
          <ul>
            <li>
              <a href="javascript:void(0)">
                Home
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                Company
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                Portfolio
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                Blog
              </a>
            </li>
          </ul>
        </nav> -->
        <p class="copyright pull-right">
          Gayatri Enterprise
        </p>
      </div>
    </footer>
  </div>
</div>