<div class="content content__padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-user">
          <div class="content">
            <a href="javascript:void(0)">
              <h4 class="title text-center" *ngIf="role.isAdmin">Panels Allocation<br /></h4>
              <h4 class="title text-center" *ngIf="!role.isAdmin">Panels<br /></h4>
            </a>
          </div>
          <div class="text-center">
            <button class="btn btn-simple" *ngIf="role.isAdmin" [routerLink]="['/core', 'panel','add' ]">Add</button>
            <button class="btn btn-simple" [routerLink]="['/core', 'panel' ]">List</button>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="!role.isEmployee">
        <div class="card card-user">
          <div class="content">
            <a href="javascript:void(0)">
              <h4 class="title text-center">{{role.isAdmin ? 'Vendors' : 'Employees'}}<br /></h4>
            </a>
          </div>
          <div class="text-center">
            <button class="btn btn-simple" [routerLink]="['/core', 'user','add' ]">Add</button>
            <button class="btn btn-simple" [routerLink]="['/core', 'user' ]">List</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>